.title {
  width: 100%;
  background-color: #006bb3;
  color: white;
  padding: 12px;
  font-weight: bold;
}

.container {
  width: 100vh;
}

.span_title {
  font-size: x-large;
}

span {
  font-weight: bold;
}
